{% extends 'base.html.twig' %}

{% block title %}Créer Nouveau Médecin{% endblock %}

{% block content %}
    {{ form_start(form, { attr: { id: 'sejour_form' }}) }}
                
        {{ form_label(form.id_specialite) }}
        {{ form_widget(form.id_specialite) }}

        {{ form_rest(form) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}